.profile-container {
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container input,
.profile-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-container button {
    background: #4c9743;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-container button:hover {
    background: #1a5d0c;
}

/* Calories Tracking Button */
.track-btn {
    margin-top: 10px;
    background: #e32227;
    color: white;
}

.track-btn:hover {
    background: #c00;
}
